body {
  background-color: black;
}
.game-container {
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  font-size: 3.5em;
  flex-direction: column;
}
.game-container .play-again-button {
  padding: 10px;
  background-color: blue;
  border: none;
  width: 300px;
  height: 100px;
  font-size: 25px;
  color: white;
  border-radius: 10px;
  outline: none;
}
.game-container .play-again-button:hover {
 cursor: pointer;
 animation-duration: 1s;
 animation-name: desplazar;
 animation-fill-mode: forwards;
}
.letter-block {
  background-color: #fff;
  width: 25px;
  height: 25px;
  color: #000;
  font-size: .3em;
  margin-right: 2px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.letter-block.disabled {
  background-color: #ccc;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: 15px;
  pointer-events: none;
}
.letter-block.active {
  background-color: green;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: 15px;
  pointer-events: none;
}

@keyframes desplazar {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
    scale: 10px;
  }
  100% {
    transform: translateY(0px);
    scale: 0px;
    background-color: green;
  }
}